div {
    text-align: center;
}

#input-wrapper span {
     color: #4d4d4d;
     font-size: 100%;
     font-weight: 6;
     text-align: left;   
}

button {
    background-color: white;
    color: #33adff;
    padding: 5px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border: solid 1px #33adff;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

button:hover, button:active {
    background-color: #33adff;
    color: white;
}

li {
    margin: 10px auto;
    text-align: center;
    list-style: none;
    color: #4d4d4d;
    width: 140px;
    cursor: pointer;

}

h3 {
     color:#33adff;
     font-size: 100%;
     font-weight: 6; 
     text-shadow: 1px 1px grey;
     margin-top: 30px;
}

h4 {
   color: #4d4d4d;
   font-size: 90%; 
   font-weight: normal;
}

#input-wrapper {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.input-block {
    margin-bottom: 10px; 
    text-align: left;
}

.input-block span {
    display: inline-block;
    width: 100px;
}

.input-block input {
    width: 350px;
}

.input-area {
    position: relative;
    top: -80px;
}

.input-block textarea {
    width: 350px;
    height: 85px;
}


